.todo-list li .icon-pause,
.todo-list li .icon-play {
    font-size: 18px;
    width: 18px;
    height: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list li .icon-play {
    font-size: 15px;
}

.icon-pause:after {
    content: '⏸';
}

.icon-play:after {
    content: '▶';
}

.timer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.timer__time {
    /*margin-left: 10px;*/
}


